<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Executar as atividades seguindo a ordem e prioridade definidas na Sprint;\nCriar novas funcionalidades e soluções adequadas, bem como realizar os devidos ajustes e melhorias nos…</td>
    </tr>
    <tr>
      <td>Se você é uma pessoa inquieta e curiosa, gosta da área de Desenvolvimento e Tecnologia, se você sempre busca soluções criativas e novas perspectivas e acredita que trabalhar em…</td>
    </tr>
    <tr>
      <td>Realizar desenvolvimento de novas ferramentas e melhorias no sistema ERP;\nBuscar novas ferramentas tecnológicas;\nDesenvolver, testar e implementar;\nIdentificar e orientar na…</td>
    </tr>
    <tr>
      <td>Formação em ensino completo em Tecnologia da Informação/Análise de Sistemas.ou técnico; Conhecimentos em .NET Core(C#), ANGULAR, WEB.API, Entity Framework Core, MVC, Json, CSS…</td>
    </tr>
    <tr>
      <td>Desenvolvimento de Software. Manutenção corretiva e evolutiva. Ensino Superior completo em áreas relacionadas, como Ciências da Computação, Análise e desenvolvimento de sistemas…</td>
    </tr>
    <tr>
      <td>Desenvolvimento. Ter experiência em desenvolvimento back-end, especificamente usando Microsoft .Net framework e/ou .Net core. ASP.NET Core. ASP.NET MVC 5 ou superior. ORM EF Core…</td>
    </tr>
    <tr>
      <td>Programar usando linguagem PHP, NodeJS e postgres desejável python. Linguagem PHP, NodeJS e postgres desejável python.</td>
    </tr>
    <tr>
      <td>Desenvolvimento em .NET (C#, ASP.NET, JavaScript) Manutenção em sistemas existentes Consultas em SQL Criação de relatórios em Crystal Reports Criação de KPIs em Power BI…</td>
    </tr>
    <tr>
      <td>Desenvolvimento e manutenção de aplicações web. Realizar a manutenção e criação de novas funcionalidades. Desenvolvimento de funcionalidades no Front-End. Desenvolvimento de…</td>
    </tr>
    <tr>
      <td>Instalar e configurar interfaces de coleta de dados (PIMS). Manutenção dos servidores PIMS (PI, AF, ACE) Desenvolver utilizando sistema PIMS (PI). Documentar regras de negócio…</td>
    </tr>
    <tr>
      <td>Programar e testar programas de computador, baseando-se nas definições fornecidas na fase de análise de sistemas e valendo-se das normas e técnicas estabelecidas pela empresa;…</td>
    </tr>
    <tr>
      <td>Atuar em time global de distribuição de peças da Companhia;\nImplementar soluções SAP;\nInterface com o time de fora/estrutura globalizada;\nAnálises técnicas, debugs, análises…</td>
    </tr>
    <tr>
      <td>Programar máquinas CNC e acompanhar processos; Realizar atualização e correção dos programas; Preparar a máquina substituindo e ajustando as ferramentas para o corte e…</td>
    </tr>
    <tr>
      <td>Indústria localizada na zona sul, necessário experiência em indústrias alimentícias ou cosméticas.\nAtribuições:\n- Realizar as programações de manutenções preventivas…</td>
    </tr>
    <tr>
      <td>We are looking for a Frontend developer to join our Online team. This team specializes in providing online, retail and mobile solutions as well as developing mobile applications…</td>
    </tr>
    <tr>
      <td>Criar, elaborar, corrigir os programas de usinagem das maquinas, identificar melhorias de processo que contribuam na redução te tempos de processo e usinagem. Realizar setups…</td>
    </tr>
    <tr>
      <td>Indústria localizada na zona sul, necessário experiência em indústrias alimentícias ou cosméticas.\nAtribuições:\n- Realizar as programações de manutenções preventivas…</td>
    </tr>
    <tr>
      <td>Analisar e programar sistemas e aplicações de alta complexidade, determinando interface gráfica, critérios ergonômicos de navegação, estrutura de banco de dados e codificação de…</td>
    </tr>
    <tr>
      <td>Atuar na programação e desenvolvimento de projetos, realizar testes de software, elaborar documentos em projetos, especificações e manuais, dar suporte nos projetos já…</td>
    </tr>
    <tr>
      <td>- Análise da carteira de pedidos.\n- Análise Carga Máquina do parque fabril.\n- Elaborar Plano de produção e gerar ordens de produção. \n- Realizar manutenção nas ordens de…</td>
    </tr>
  </tbody>
</table>