{% extends "base/base.html" %}
{% load static %}

{% block title_page %}Busca de vagas{% endblock title_page %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="example" action="{% url 'detalhes' %}" method="POST" >
    {% csrf_token %}
  <input type="text" placeholder="Digite aqui a vaga" name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

{% endblock content %}
